* {
    box-sizing: border-box;
}

div {
	display: block;
}

main .row {
    margin-bottom: 20px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

header .row {
	margin-top: 0px;
}

.row {
    max-width: 1000px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 40px;
}

/*header h2, p {
	margin-left: 60px;
}*/

.row .support, .maincast {
	margin-bottom: 10px;
}

.row::before,
.row::after {
    display: table;
    content: ' ';
}

.row::after {
    clear: both;
}

.person {
    height: auto;
    border: 1px solid #d8d8d8;
}

.person p {
    text-align: left;
    margin-left: 20px;
}

.person img {
    height: 100%;
    width: 100%;
}

.maincast,
.support {
    float: left;
    padding-left: 1.04166666%;
    padding-right: 1.04166666%;
}

.maincast,
.support {
    width: 100%; 
}

@media only screen and (min-width: 640px) {
	.maincast {
		width: 33.333%;
	}

	.support {
		width: 33.333%;
	}
}